.grid-container{
    /* background-color: bisque; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 20px;
    column-gap: 30px;
    height: 80%;
}
.box{
    padding: 10px;
    border-radius: 10px;
    background-color: #ffff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.box-title{
    font-size: 1rem;
    color: grey;
}
.temp, .humidity, .clouds, .visibility{
    text-align: center;
    font-size: 3rem;
}
.wind{
    text-align: center;
    font-size: 2.5rem;

}
.sun, .minmax{
    font-size: 2.5rem;
}
.minmax{
    text-align: center;
}
.sunset, .sunrise, .min, .max{
    margin: 0;
}
i{
    color: #C1AEFC;
}
